<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/dist/css/indexweb.css">
    <title>ISILA | Dashboard</title>
</head>
<body>
    <!-- HEADER -->
    <div class="top-header">
        <a href="{{ url_for('home') }}" class="logo">
            <img class="logo1" src="../static/dist/img/ISILA.png" alt="ISILA's Logo">
        </a>
        <div class="menu">
            <a class="menu-item" href="#information">Documentation</a>
            <a class="menu-item" href="#about">About Us</a>
            <a class="menu-item1" href="#contact">Contact</a>
        </div>
        <div class="menu1">
            <a href="/loginpmh" class="menu-item2">
                <i class="fas fa-user"></i> &nbsp; Login</a>
        </div>
    </div>

    <!-- HOME -->

    <div class="background-container">
        <div class="content-container content-container2" id="information">
            <h1>DOKUMENTASI</h1>
        </br>
            <p>ALUTSISTA - Alat Utama Sistem Senjata</p>
        </br></br>
            <div class="container">
                <figure class="box1"><img src="../static/dist/img/konten.jpg" alt="Picture" class="content"></figure>
                <figure class="box2"><img src="../static/dist/img/konten2.jpg" alt="Picture" class="content"></figure>
                <figure class="box3"><img src="../static/dist/img/konten3.jpeg" alt="Picture" class="content"></figure>
                <figure class="box4"><img src="../static/dist/img/konten4.jpg" alt="Picture" class="content"></figure>
                <figure class="box5"><img src="../static/dist/img/konten5.jpeg" alt="Picture" class="content"></figure>
                <figure class="box6"><img src="../static/dist/img/konten6.jpeg" alt="Picture" class="content"></figure>
                <figure class="box37"><img src="../static/dist/img/konten7.jpeg" alt="Picture" class="content"></figure>
                <figure class="box8"><img src="../static/dist/img/konten8.jpg" alt="Picture" class="content"></figure>
                <figure class="box9"><img src="../static/dist/img/konten9.jpeg" alt="Picture" class="content"></figure>
                <figure class="box10"><img src="../static/dist/img/konten10.jpeg" alt="Picture" class="content"></figure>
                <figure class="box1"><img src="../static/dist/img/konten11.jpeg" alt="Picture" class="content"></figure>
                <figure class="box2"><img src="../static/dist/img/konten12.jpeg" alt="Picture" class="content"></figure>
                <figure class="box13"><img src="../static/dist/img/konten13.jpg" alt="Picture" class="content"></figure>
                <figure class="box4"><img src="../static/dist/img/konten14.jpg" alt="Picture" class="content"></figure>
                <figure class="box15"><img src="../static/dist/img/konten15.jpeg" alt="Picture" class="content"></figure>
                <figure class="box6"><img src="../static/dist/img/konten16.jpeg" alt="Picture" class="content"></figure>
            </div>
        </div>
        <div class="content-container content-container3" id="about">
            <div class="col">
                <div class="left">
                    <h1>About Us!</h1>
                </br></br>
                    <p>PT. KAFT Central Tech merupakan perusahaan Teknologi informasi, menonjol sebagai penyedia solusi unggul dengan fokus utama pada pembuatan situs web. PT. KAFT menawarkan implementasi website Sistem Informasi Logistik Alat Utama Sistem Senjata (Alutsista) Kementerian Pertahanan, memanfaatkan teknologi informasi untuk meningkatkan efisiensi, transparansi, dan aksesibilitas dalam pengelolaan logistik, mendukung pengambilan keputusan yang cepat, dan meningkatkan keterbukaan secara keseluruhan.</p>
                </div>
                <div class="right">
                    <img class="konten" src="../static/dist/img/konten1.png" alt="konten">
                </div>
            </div>
        </div>
        <div class="content-container content-container4 row" id="contact">
            <div class="row1">
                <img class="logocontact" src="../static/dist/img/pengampu.jpg" alt="pengampu">
                <h1>Bita Parga Zen, S.Kom., M.Han.</h1>
                <p>NIK. 22920007</p>
            </div>
            <div class="row2">
                <div class="21">
                    <img class="logocontact1" src="../static/dist/img/ittp.png" alt="ITTP's Logo">
                    <h1>Atifah Herawati</h1>
                    <p>NIM. 20102004</p>
                </div>
                <div class="22">
                    <img class="logocontact1" src="../static/dist/img/ittp.png" alt="ITTP's Logo">
                    <h1>Khusnul Khatimah</h1>
                    <p>NIM. 20102192</p>
                </div>
            </div>
            <div class="row3">
                <div class="31">
                    <img class="logocontact1" src="../static/dist/img/ittp.png" alt="ITTP's Logo">
                    <h1>Tiara Humaira Putri</h1>
                    <p>NIM. 20102196</p>
                </div>
                <div class="32">
                    <img class="logocontact1" src="../static/dist/img/ittp.png" alt="ITTP's Logo">
                    <h1>Faruk Fath</h1>
                    <p>NIM. 20102303</p>
                </div>
            </div>
    </div>

    <footer>
        <p>&copy; 2023 KAFT. All rights reserved.</p>
        <div class="social-icons">
            <a href="#" class="icon"><i class="fab fa-facebook"></i></a>
            <a href="#" class="icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="icon"><i class="fab fa-instagram"></i></a>
        </div>
    </footer>
</body>