<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/dist/css/indexweb.css">
    <title>ISILA | Admin - Login</title>
</head>
<body>
    <!-- HEADER -->
    <div class="top-header">
        <a href="{{ url_for('home') }}" class="logo">
            <img class="logo1" src="../static/dist/img/ISILA.png" alt="ISILA's Logo">
        </a>
        <div class="menu">
            <a class="menu-item" href="#information">Information</a>
            <a class="menu-item" href="#about">About Us</a>
            <a class="menu-item1" href="#contact">Contact</a>
        </div>
        <div class="menu1">
            <a href="/loginadm" class="menu-item2">
                <i class="fas fa-user"></i> &nbsp; Login</a>
        </div>
    </div>

    <div class="background-container-login">
        <div class="content-container-login content-container-login" id="/">
            <div class="login-box">
                <div class="col">
                    <a class="abl" href="/loginpmh">
                        &nbsp;Pemohon&nbsp;
                    </a>
                    <a class="abl" href="/loginadm">
                        &nbsp;admin&nbsp;
                    </a>
                </div>
              <h2>LOGIN ADMIN</h2>
              <form>
                <div class="user-box">
                  <input type="uname" name="uname" id="uname" required="">
                  <label>Username</label>
                </div>
                <div class="user-box">
                  <input type="password" name="" required="">
                  <label>Password</label>
                </div>
                <a class="ab" href="/indexadm">
                  <span class="span"></span>
                  <span class="span"></span>
                  &nbsp;Login&nbsp;
                </a>
                <p class="cancel">Back to home? <a class="home" href="/"> Click this!</a></p>
              </form>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2023 KAFT. All rights reserved.</p>
        <div class="social-icons">
            <a href="#" class="icon"><i class="fab fa-facebook"></i></a>
            <a href="#" class="icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="icon"><i class="fab fa-instagram"></i></a>
        </div>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var ablButtons = document.querySelectorAll('.abl');
    
            // Memeriksa setiap tombol "abl"
            ablButtons.forEach(function(button) {
                button.addEventListener("click", function() {
                    // Menghapus kelas "active" dari semua tombol
                    ablButtons.forEach(function(btn) {
                        btn.classList.remove('active');
                    });
    
                    // Menambahkan kelas "active" pada tombol yang diklik
                    button.classList.add('active');
                });
    
                // Memeriksa halaman saat ini
                if (window.location.pathname === button.getAttribute("href")) {
                    button.classList.add('active');
                }
            });
        });
    </script>
    
</body>